APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomStringSomeRandomString

CLOCKWORK=true

DB_HOST=192.168.10.10
DB_DATABASE=tenfour
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=memcached
SESSION_DRIVER=memcached
QUEUE_DRIVER=database

MAIL_DRIVER=log
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

TINKERLIST_DOMAIN=tenfour.local

API_DOMAIN=api.tenfour.local
API_VERSION=v1
API_NAME=tenfour
API_STRICT=false
API_DEBUG=true

SMS_DRIVER=log
SENTRY_DSN=

URL_SHORTENER_BITLY_USERNAME=
URL_SHORTENER_BITLY_PASSWORD=

CHARGEBEE_SITE=rollcall-test
CHARGEBEE_KEY=
CHARGEBEE_PLAN=standard-plan
CHARGEBEE_ADDON=extra-credits
CHARGEBEE_WEBHOOK_USERNAME=chargebee
CHARGEBEE_WEBHOOK_PASSWORD=westgate

REDIS_HOST=localhost
